trunk/TP/Oleg_ivo.Client/Service References/ServiceReferenceHomeTcp/DMS.Common.MessageExchangeSystem.HighLevel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DMS.Common.MessageExchangeSystem.HighLevel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMS.Common.MessageExchangeSystem.HighLevel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DMS.Common.Messages" />
  <xs:complexType name="ArrayOfRegisteredLogicalChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisteredLogicalChannel" nillable="true" type="tns:RegisteredLogicalChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegisteredLogicalChannel" nillable="true" type="tns:ArrayOfRegisteredLogicalChannel" />
  <xs:complexType name="RegisteredLogicalChannel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMS.Common.Messages" minOccurs="0" name="DataMode" type="q1:DataMode" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogicalChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="MaxNormalValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaxValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MinNormalValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MinValue" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisteredLogicalChannel" nillable="true" type="tns:RegisteredLogicalChannel" />
</xs:schema>