branches/TempMerge/TP/Oleg_ivo.Client/Service References/ServiceReferenceHomeTcp/DMS.Common.Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DMS.Common.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMS.Common.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="TestException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestException" nillable="true" type="tns:TestException" />
  <xs:complexType name="InternalException">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:ApplicationException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalException" nillable="true" type="tns:InternalException" />
  <xs:complexType name="RegistrationException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalServiceException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationException" nillable="true" type="tns:RegistrationException" />
  <xs:complexType name="InternalServiceException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalServiceException" nillable="true" type="tns:InternalServiceException" />
</xs:schema>