branches/Prism/TP/Oleg_ivo.WAGO/Configuration/ConfigurationSectionDesigner1.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Oleg_ivo.WAGO.Configuration" elementFormDefault="qualified" targetNamespace="urn:Oleg_ivo.WAGO.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dMISConfigurationSection" type="tns:Oleg_ivo.WAGO.Configuration.DMISConfigurationSectionCT" />
	<xs:complexType name="Oleg_ivo.WAGO.Configuration.DMISConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="dMISConfigurations" type="tns:Oleg_ivo.WAGO.Configuration.DMISConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The DMISConfigurations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Oleg_ivo.WAGO.Configuration.DMISConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="dMISConfig" type="tns:Oleg_ivo.WAGO.Configuration.DMISConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The DMISConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Oleg_ivo.WAGO.Configuration.DMISConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="loadOptions" type="tns:Oleg_ivo.WAGO.Configuration.LoadOptionsConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The LoadOptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isEmulationMode" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsEmulationMode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Oleg_ivo.WAGO.Configuration.LoadOptionsConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="loadOptionsConfigurationElement" type="tns:Oleg_ivo.WAGO.Configuration.LoadOptionsConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The LoadOptionsConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Oleg_ivo.WAGO.Configuration.LoadOptionsConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="fieldNodesLevel" type="tns:Oleg_ivo.WAGO.Configuration.LevelLoadOptionsConfigElementCT">
				<xs:annotation>
					<xs:documentation>The FieldNodesLevel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="physicalChannelsLevel" type="tns:Oleg_ivo.WAGO.Configuration.LevelLoadOptionsConfigElementCT">
				<xs:annotation>
					<xs:documentation>The PhysicalChannelsLevel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logicalChannelsLevel" type="tns:Oleg_ivo.WAGO.Configuration.LevelLoadOptionsConfigElementCT">
				<xs:annotation>
					<xs:documentation>The LogicalChannelsLevel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="fieldBusType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FieldBusType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Oleg_ivo.WAGO.Configuration.LevelLoadOptionsConfigElementCT">
		<xs:attribute name="loadSavedConfiguration" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The LoadSavedConfiguration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="computeCurrentConfiguration" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The ComputeCurrentConfiguration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
