TP/Oleg_ivo.Client/Service References/ServiceReferenceHomeTcp/DMS.Common.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DMS.Common.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMS.Common.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="InternalMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="RegNameFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegNameTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternalMessage" nillable="true" type="tns:InternalMessage" />
  <xs:complexType name="ChannelRegistrationMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrationMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelRegistrationMessage" nillable="true" type="tns:ChannelRegistrationMessage" />
  <xs:complexType name="RegistrationMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalServiceMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationMessage" nillable="true" type="tns:RegistrationMessage" />
  <xs:complexType name="InternalServiceMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalServiceMessage" nillable="true" type="tns:InternalServiceMessage" />
  <xs:complexType name="InternalErrorMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalServiceMessage">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Error" nillable="true" type="q1:Exception" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalErrorMessage" nillable="true" type="tns:InternalErrorMessage" />
  <xs:complexType name="InternalLogicalChannelDataMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalDataMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalLogicalChannelDataMessage" nillable="true" type="tns:InternalLogicalChannelDataMessage" />
  <xs:complexType name="InternalDataMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InternalDataMessage" nillable="true" type="tns:InternalDataMessage" />
  <xs:complexType name="ChannelSubscribeMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InternalServiceMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChannelSubscribeMessage" nillable="true" type="tns:ChannelSubscribeMessage" />
</xs:schema>